body { font-family: Arial; font-size: 12px; }
body a { color: blue; }
body a:hover { text-decoration: none; }

i.arrow { display: inline-block; height: 0; width: 0; border: 4px solid black; border-color: transparent; border-bottom-color: black; }
.desc i.arrow { border-bottom-color: transparent; border-top-color: black; }

.grid { margin: 10px; width: 98%; border-spacing: 0px; }
.grid th { cursor: pointer; background-color: #fff; border-bottom: 1px solid gray; }
.grid th i.arrow { display: none; }
.grid th.sort { }
.grid th.sort i.arrow { display: inline-block; position: absolute; margin-top: 2px; margin-left: 2px; }
.grid th.sort.desc { }
.grid th.sort.desc i.arrow { display: inline-block; position: absolute; margin-top: 6px; margin-left: 2px; }
.grid tr { background-color: #fff; }
.grid tr:nth-child(2n+1) { background-color: #eee; }
.grid tr:hover td { background-color: #FFFFAA; }
.grid td { padding: 20px; }

#grid {}
#grid1 { border: 1px solid #eee; max-height: 300px; overflow-y: scroll; }
#grid1 td { padding: 10px; }
#grid2 { border: 1px solid #eee; max-height: 300px; overflow-y: scroll; margin-top: 50px; }
#grid2 td { padding: 10px; }